* {
    font-family: sans-serif;
}

#content .ck-content {
    min-height: 15rem;
    font-size: 1.5rem;
}

.box-add-project {
    /* position: relative;
    z-index: 10000 !important; */
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 5, 5, 1.1); */
    padding: 30px;
    margin-top: 30px;
}

#title {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #495057;
}

.form-group {
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 6px;
    min-height: 38px;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #e2e6ea;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
}

.tag .btn-remove-tag {
    background: none;
    border: none;
    color: #6c757d;
    margin-left: 5px;
    cursor: pointer;
}

.tag-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    min-width: 150px;
}

.suggestions {
    /* border: 1px solid #ced4da; */
    border-top: none;
    list-style: none;
    margin-top: 2.5%;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    /* width: 100%; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions li {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f1f1f1;
}


.suggestion-email {
    display: flex;
    align-items: center;
    background-color: #e2e6ea;
    border-radius: 20px;
    padding: 7px 10px;
    margin: 2px;
    font-size: 14px;
}

.suggestion-show {

    margin-bottom: 1%;
}

.btn-add-project {
    border-radius: 10px;
    padding: 5px 10px;

    width: auto;
}

.btn-add-project i {
    font-size: 15px;
    color: red;
    margin-left: 10px;
}

.suggestion-email .btn-remove-tag {
    background: none;
    border: none;
    color: #128427;
    margin-left: 5px;
    cursor: pointer;
}

.suggestions li:not(:last-child) {
    border-bottom: 1px solid #ced4da;
}

.suggestions li:hover {
    background-color: #f1f1f1;
}

/* Custom CSS for aligning selects in one row */
.form-group-inline {
    display: flex;
    align-items: center;
}

.form-group-inline .form-group {
    flex: 1;
    margin-right: 10px;
}

/* Additional styling */
.form-control {
    border-color: #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.back-button {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration: none;
}

.back-button i {
    margin-right: 5px;
}