/* 

.ck-editor__top {
    position: sticky !important;
    top: 0 !important;
    z-index: 10000 !important;
}

.ck-editor__main {
    position: relative !important;
    z-index: 9000 !important;
} */