/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
}

.loader:before {
    content: "Loading..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.upload-file-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.document-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px outset #5c5ac6;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #5c5ac6;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;

}

.document-item i {
    color: #a63e3e;
}

.upload-container label {
    font-size: 1.5rem;
    margin: 0;
    color: #5c5ac6;
}

.upload-container label i {
    display: inline-block;
    margin-left: 10px;
}